body {
    background-color: seagreen;
}

.texto1 {
    color: white;
    font-style: italic;
}

.texto2 {
    color: wheat;
}

.texto3 {
    color: rgb(175, 118, 12);
    font-style: inherit;
}

.texto4 {
    color: red;
}