.titulo {
    color: white;
    margin-left: 60px;
}

.verde {
    background-color: green;
    border-radius: 5px;
    border: 10px solid rgb(132, 132, 184);
    margin: auto;
    width: 450px;
    height: 370px;
}

.textoo {
    color: white;
    margin-left: 20px;
    display: inline-block;
}

.cr {
    border: 2px solid red;
    margin-left: 60px;
    margin-top: 4px;
    width: 200px;
    border-radius: 2px;
}

.qwr {
    margin-left: 30px;
    color: white;
}

.boot {
    margin-left: 30px;
}

label {
    display: inline-block;
    width: 80px;
    ;
}